<script>
  const { ipcRenderer } = require('electron');
  import { get } from '../api/index.js';

  const TWITCH_AUTH = 'http://localhost:3000/auth/twitch';

  let loader = false;

  async function loginIntoTwitch() {
    loader = true;
    ipcRenderer.send('createAuthWindow');
  }

  ipcRenderer.on('loginSuccess', function() {
    loader = false;
  });
</script>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #343233;
    background-image: url('alphy.jpg');
    background-position-y: inherit;
    background-position-x: center;
  }

  .button {
    background-color: #ff5252;
    color: #fff;
    font-weight: 500;
    margin-top: 5%;
  }

  .button:hover {
    background-color: #ff8252;
  }
</style>

<div class="layout">
  <div
    class="is-primary button is-medium {loader ? 'is-loading' : ''}"
    on:click={loginIntoTwitch}>
    Login With Twitch
  </div>
</div>
