<script>
  const { ipcRenderer } = require('electron');
  export let user;

  let loader = false;
  let inGame = false;

  function handleLaunchGame() {
    loader = true;
    if (inGame) ipcRenderer.send('closeGame');
    else ipcRenderer.send('launchGame');
  }

  ipcRenderer.on('rpcConnectionEstablished', () => {
    loader = false;
    inGame = true;
  });

  ipcRenderer.on('rpcConnectionClosed', () => {
    loader = false;
    inGame = false;
  });

  function openFileChooser() {
    ipcRenderer.send('openFileChooser');
  }
</script>

<style>
  .starcraft {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('protos.jpg');
    background-position-y: inherit;
    background-position-x: center;
    background-size: cover;
  }

  .form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 80%;
    background-color: #ff5252;
    color: #fff;
  }

  .button:hover {
    background-color: #ff8252;
  }

  .control {
    display: flex;
    flex-direction: row;
  }

  .file-chooser {
    width: 10%;
  }

  .field {
    width: 100%;
    padding: 2%;
  }

  .control {
    width: 100%;
  }
</style>

<div class="starcraft">
  <div class="form">
    <!-- <div class="field">
      <div class="control">
        <input
          class="input is-medium is-primary"
          type="text"
          placeholder="Text input" />
        <div
          class="button file-chooser is-primary is-medium"
          on:click={openFileChooser}>
          ...
        </div>
      </div>
    </div> -->
    <div
      class="is-primary button is-large {loader ? 'is-loading' : ''}"
      on:click={handleLaunchGame}>
      {inGame ? 'Close Starcraft 2' : 'Launch Starcraft 2'}
    </div>
  </div>
</div>
