<script>
  const { remote, ipcRenderer } = require('electron');
  import { setContext } from 'svelte';
  import LandingPage from './components/LandingPage.svelte';
  import Starcraft from './components/Starcraft.svelte';

  let userInfo = remote.getGlobal('userInfo');

  const alfyRpcClient = remote.getGlobal('alfyClient');

  ipcRenderer.on('userInfo', (event, message) => {
    userInfo = message;
  });

  setContext('alfyRpcClient', alfyRpcClient);
</script>

<style lang="sass" global>
  @import 'bulma/bulma.sass';
</style>

{#if userInfo}
  <Starcraft user={userInfo} />
{:else}
  <LandingPage />
{/if}
